<main>
  <h1>Login</h1>

  <div class="login-box">
    <form action="/account/login" method="post">
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" required />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Login</button>
    </form>

    <p>No account? <a href="/account/register">Sign-up</a></p>
  </div>
</main>
